# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Mis Documentos\Universidad\Progra\Box Sync\Progra Web\Labs\Lab4\Dev\WP_ApiDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
